<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Echo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Echo.Properties.Settings>
            <setting name="IsSubtitleVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMouseHoverEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSentenceAnalysisEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsWordQueryEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubtitleOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SoftwareLanguage" serializeAs="String">
                <value>zh-Hans</value>
            </setting>
            <setting name="AspectRatio" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="YourLanguage" serializeAs="String">
                <value>zh</value>
            </setting>
            <setting name="LearningLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="BackwardTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ForwardTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WordAPI" serializeAs="String">
                <value>oxford</value>
            </setting>
            <setting name="SentenceAPI" serializeAs="String">
                <value>openAI</value>
            </setting>
            <setting name="IsEchoAPIEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubtitleDisplayMode" serializeAs="String">
                <value>Hover</value>
            </setting>
            <setting name="OxfordApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUseThirdPartyAPI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUseEchoAPI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OxfordApiId" serializeAs="String">
                <value />
            </setting>
        </Echo.Properties.Settings>
    </userSettings>
</configuration>